@charset "UTF-8";

table, th, td{
	border:1px solid #D4E0FF;
	border-collapse: collapse;
	font-family: verdana, sans-serif;
	color: #555;
}

th, td{
	padding: 5px;
}

table th{
	background-color: #E6EDFF;
	color: #4F76A3;
}

table#list tr:nth-child(2n) {
	background-color: #F7F6FF;
	
}

table#list tr:hover{
	background-color: #FEFDCF;
}

tr a:visited, td a:link {
	color: #718ABE;
	text-decoration: none;
}

td a:hover{
	text-decoration: underline;
}